<div class="margenTop">
<h3>ATRIBUTOS</h3>
<div ng-controller="ListControlleratributo as list">
      
 <my-modalatributo></my-modalatributo> 
  
    <div id="custom-toolbaratributo">
     <div class="form-inline" role="form">    
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
     </div>
    </div>
{{datos}}
   <table  id="tableatributo" init-tablaatributo="options">
   </table>

 </div>
</div>