<div class="margenTop">
<h3>CARACTERIZACIÓN</h3>
<div ng-controller="ListControllerCaracterizacion as list">
      
 <my-modalcaracterizacion></my-modalcaracterizacion> 
  
    <div id="custom-toolbarcaracterizacion">
     <div class="form-inline" role="form">    
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
     </div>
    </div>
{{datos}}
   <table  id="tablecaracterizacion" init-tablacaracterizacion="options">
   </table>

 </div>
</div>