<div class="row" style="margin-top: 10%;margin-right: 0px">
  <div class="col-md-5 col-lg-4 col-xs-3">
     
  </div>
  <div class="col-md-2 col-lg-4 col-xs-6">
   <div class="panel  panel-default">
      <div class="panel-body" >
           <div class="input-group margin-bottom-sm" style="width:100%">
                  <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                      <input class="form-control" ng-model="user" type="text" placeholder="Usuario">
            </div>
            <div class="input-group" style="width:100%;margin-top: 10px">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>
                
              </span>
                  <input class="form-control" type="password" ng-model="pass" placeholder="Clave">
            </div>

           
         <button  type="button" class="btn btn-info" ng-click="onClicIniciar()" style="margin-top: 20px;color: black;font-weight: bolder;" >Iniciar</button >
        

      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-4 col-xs-3">
    
  </div>
</div>

